In [1]:
#import dependencies
import pandas as pd
import numpy as np

In [23]:
#import csvs for all months
csv1 = pd.read_csv('data/JC-201701-citibike-tripdata.csv')
csv2 = pd.read_csv('data/JC-201702-citibike-tripdata.csv')
csv3 = pd.read_csv('data/JC-201703-citibike-tripdata.csv')
csv4 = pd.read_csv('data/JC-201704-citibike-tripdata.csv')
csv5 = pd.read_csv('data/JC-201705-citibike-tripdata.csv')
csv6 = pd.read_csv('data/JC-201706-citibike-tripdata.csv')
csv7 = pd.read_csv('data/JC-201707-citibike-tripdata.csv')
csv8 = pd.read_csv('data/JC-201708-citibike-tripdata.csv')
csv9 = pd.read_csv('data/JC-201709-citibike-tripdata.csv')
csv10 = pd.read_csv('data/JC-201710-citibike-tripdata.csv')
csv11 = pd.read_csv('data/JC-201711-citibike-tripdata.csv')
csv12 = pd.read_csv('data/JC-201712-citibike-tripdata.csv')

In [35]:
# concat data by quarter
csv1_2 = pd.concat([csv1,csv2])
csv12_3 = pd.concat([csv1_2,csv3])


# csvquarter1 = pd.concat([csv12_3, csv4]) initiall failed

Issues concatinating csv4 with the others. Checked dtypes for header name and found that csv4 headers were different below. Will change column names on csv4 to match the others to complete concat for 1st quarter.

In [40]:
csv3.dtypes

Trip Duration                int64
Start Time                  object
Stop Time                   object
Start Station ID             int64
Start Station Name          object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID               int64
End Station Name            object
End Station Latitude       float64
End Station Longitude      float64
Bike ID                      int64
User Type                   object
Birth Year                 float64
Gender                       int64
dtype: object

In [44]:
csv4.columns = ['Trip Duration','Start Time','Stop Time','Start Station ID','Start Station Name','Start Station Latitude','Start Station Longitude','End Station ID','End Station Name','End Station Latitude','End Station Longitude','Bike ID','User Type','Birth Year','Gender',
]

In [49]:
# converted column names and concat with previous months
csvquarter1 = pd.concat([csv12_3, csv4])
    csvquarter1.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,1/1/2017 0:21,1/1/2017 0:24,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,1/1/2017 0:24,1/1/2017 0:45,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,1/1/2017 0:38,1/1/2017 0:44,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,1/1/2017 0:38,1/1/2017 1:03,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,1/1/2017 1:47,1/1/2017 1:58,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [54]:
# export dataframe for quarter 1 to CSV
csvquarter1.to_csv('data/quarter1.csv',encoding='utf-8')

In [60]:
# Total number of rides
csvquarter1['Start Time'].count()

60339